
<ion-list>
  <!-- Cette page génère une la liste des langue avec des icons (drapeaux)-->
  <strong>
    {{"language.choose" | translate}}
  </strong>
  <ion-item button *ngFor="let lng of languages" (click)="select(lng.value)" detail="false">
    <img [src]="lng.img" slot="start" width="20" height="20">
    <ion-label text-wrap>
      {{ lng.text }}
    </ion-label>
    <ion-icon slot="end" name="checkmark" *ngIF="lng.value == select"></ion-icon>
  </ion-item>

</ion-list>
