
.login_button{
  height: 45px;
  font-size: 18px;
  margin-right: 11%;
  margin-left: 11%;
  font-size-adjust: 0.5;
  text-align: center;
  font-weight: bold;
  color: blue;
}

.singin_button{
  size: 45;
  font-size: 18px;
  margin-right: 11%;
  margin-left: 11%;
  font-size-adjust: 0.5;
  text-align: center;
  font-weight: bold;
  background-color: white;
}

.termes_condition{
  margin-top: 10%;
  margin-right: 11%;
  margin-left: 11%;
  font-size: 12px;
  font-size-adjust: 0.5;
  text-align: center;
 
  color: rgba(0, 56, 255, 0.47);
}

.google{
  img{
    height: 25px;
  }
}

.facebook{
  color:#3b5998;

}
.twitter{
  color: aqua;
 

}

.linkedin{
  color: #0e76a8;
 
}

.phone{
  color:rgb(69, 211, 112);
}


.mylogo{
  margin-top: 10%;
  margin-right: 13%;
  margin-left: 13%;
  font-size: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.my-custom-class{
  --background: #e5e5e5;
}

.my-custom-class .alert_phone{
  background: red;
}

