
<ion-content [fullscreen]="true">

  <div  class="AcceuilLogo">
    <img src="assets/icon/Logo.png">
  </div>

  <div>
    <!-- bouton de connection -->
    <div class="login_button">
      <ion-button expand="block" (click)="goToconnection()">
        {{ "home.login"| translate}}
      </ion-button>
    </div>

    <!-- bouton de connection -->
    <div class="singin_button">
      <ion-button expand="block" fill="outline" (click)="goToSingin()">
        {{"home.singin" | translate}}
      </ion-button>
    </div>
  </div>

  <!-- reCAPTCHA pour l'authentification telephone -->
  <div id="recaptcha-container"></div> 

  <!--Div pour les logos-->
  <div class="mylogo">

    <div class="google">
      <img name="logo-google" src="assets/icon/google-icon.svg" (click)="googleAuth()">
    </div>


    <div class="facebook">
      <ion-icon name="logo-facebook" (click)="facebookAuth()"></ion-icon>
    </div>
    

    <div class="twitter">
      <ion-icon name="logo-twitter" (click)="tweterAuth()"></ion-icon>
    </div>

 
    <div class="linkedin">
      <ion-icon name="logo-linkedin"></ion-icon>
    </div>
    <div class="phone">
      <ion-icon name="call" (click)="phone_auth()" ></ion-icon>
    </div>

  </div>
  <!--Message d'avertisement -->
  <div class="termes_condition">
    {{"home.termes"| translate}}
  </div>
  
  
</ion-content>
