/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.md,
.ios,
.wp{
.my-custom-class{  
   div{
    align-items: center;
    color: wheat !important;
    text-align: justify;
    background-color: rgba(26, 163, 243, 0.671);
    animation: pulse 5s infinite;
   }
  button{
      align-items: center;
      align-content: center;
   }
   input{
        color: rgb(40, 134, 16) !important;
        background-color: wheat !important;
        text-align: center;
        text-decoration: yellowgreen;
        border-radius: 5%;
    }
    .secondary{
        color: red; 
    }
    .validate{
        color: rgb(10, 26, 243);
    }

}
@keyframes pulse {
    0% {
      background-color: #2c8d1fc2;
    }
    100% {
      background-color: #3fc02e;
    }
  }
}
