<ion-header class="header_param">
  <ion-toolbar >

    <ion-buttons slot="start" style="color: blue;">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-button slot="primary" class="deconect" (click)="logout()">{{"setting.btn_deconexion"| translate }}</ion-button>
  </ion-toolbar>  
</ion-header>

<div class="profile">
  <div class="profil_teuf">
    <ion-img src={{url_image}}></ion-img>
  </div>
  <p>{{usr_name}}</p>
</div>

<ion-content class="mon_content">
  <div class="list1">
    <ion-item (click)="languepopover($event)">
      <!--Cette item  ouvre un popup afin de changer la langue pour plus de détaile voir languepopover dans language-->
      {{"setting.language"| translate }}
    </ion-item>

    <ion-item  >
      <!--information personel-->
      {{"setting.info_perso"| translate }}
    </ion-item>

    <ion-item  >
      <!--document-->
      {{"setting.document"| translate }}
    </ion-item>

    <ion-item  >
      <!-- messagerie -->
      {{"setting.message"| translate }}
    </ion-item>

  </div>

  <div  class="list2">
    
    <ion-item  >
      <!-- Comptes et cartes bancaires -->
      {{"setting.banques"| translate }}
    </ion-item>

    <ion-item  >
      <!--Préférences de paiement-->
      {{"setting.pref_payement"| translate }}
    </ion-item>

    <ion-item  >
      <!--Paiements automatiques-->
      {{"setting.payement_auto"| translate }}
    </ion-item>

  </div>

  <div  class="list3" >

    <ion-item  >
      <!-- connexion securiser -->
      {{"setting.conex_securite"| translate }}
    </ion-item>

    <ion-item  >
      <!-- notifs -->
      {{"setting.notification"| translate }}
    </ion-item>

    <ion-item  >
      <!--Marketing-->
      {{"setting.pref_marketing"| translate }}
    </ion-item>

    <ion-item  >
      <!--donne conf-->
      {{"setting.donne_conf"| translate }}
    </ion-item>

    <ion-item  >
      <!--Aide-->
      {{"setting.aide"| translate }}
    </ion-item>

  </div>

</ion-content>