.deconect{
    --font-family: Heebo;
    --font-style: normal;
    --font-weight: bold;
    font-size: 10px;
    /* identical to box height */
    --display: flex;
    --align-items: center;

    --color: blue;
    --background: transparent;
}

.list1{
    margin-top: 18%;
    margin-right: 5%;
    margin-left: 5%;
}

.list2{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

.list3{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;

}

ion-item{
    --font-family: Heebo;
    --font-style: normal;
    --font-weight: normal;
    --font-size: 14px;
    --line-height: 21px;

    /* identical to box height */
    //--display: flex;
    --align-items: center;
    --text-align: center;
    //--letter-spacing: -0.015em;

    --color: #797878;
}

.mon_content{
    position: relative;
    margin-top: 20%;
}

.header_param{
   position: relative;
   
}

.profile{
    z-index: 10;// metre sur une autre couche
    position: absolute;
    width: 100%;
    height: 10%;
    margin-top: 17%;
    align-items: center;
    text-align: center;
    p{
        margin-top: 0%;
        font-family: Heebo;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        white-space: initial;//aligner le text
        color: #050505;
    }
    .profil_teuf{  
        margin-right: 44%;
        margin-left: 44%; 
        text-align: center; 

        ion-img::part(image) {
            border-radius: 50%;// arrondir l'image
            border:2px solid green;
          }

    }
}