<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start" style="color: blue;">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title class="title">{{"inscription.header" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

  <div class="nom" >
   
    <ion-input [(ngModel)]="user_name" type="text" placeholder="{{'inscription.nom' | translate }}" required></ion-input>
 
  </div>

  <div class="prenom" >
   
    <ion-input [(ngModel)]="user_firstname" type="text" placeholder="{{'inscription.prenom' | translate }}" required></ion-input>
 
  </div>

  <div class="mail">
   
    <ion-input [(ngModel)]="user_mail" type="mail" placeholder="{{'inscription.email' | translate }}" 
    pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required></ion-input>
 
  </div>
 
  <div class="telephone">
   
    <ion-input [(ngModel)]="user_phone" type="tel" placeholder="{{'inscription.numero' | translate }}" required></ion-input>
 
  </div>

  <div class="password">
   
    <ion-input [(ngModel)]="user_password" type="password" placeholder="{{'inscription.password' | translate }}" required></ion-input>
 
  </div>

  <div class="confirmepassword">
   
    <ion-input [(ngModel)]="user_confirm" type="password" placeholder="{{'inscription.confirm_pass' | translate }}" required></ion-input>
 
  </div>
  
  <div class="terme">
    <!-- ici on utilise [innerHTML] pour se executer les balises qui sont dans les fichiers de construction-->
    <div class="condition">
      <ion-text [innerHTML]="'inscription.condition' | translate" ></ion-text >
    </div>

    <div class="switch1">
      <ion-toggle [(ngModel)]="condition_" ></ion-toggle>
    </div>

    <div class="politique">
      <ion-text [innerHTML]="'inscription.politic' | translate"></ion-text >
    <div [innerHTML]="stringwithhtml"></div>

    </div>

    <div class="switch2">
      <ion-toggle [(ngModel)]="politic_"  ></ion-toggle>
    </div>
  </div>

  <div class="singin">
    <ion-button expand="block" (click)="singin_process()" >
      {{'inscription.singin' | translate }}
    </ion-button>
  </div>


</ion-content>
