


.nom{
    border-radius: 3px;
    margin-top: 13%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size-adjust: 0.5;
    text-align: center;
    background-position: center;
    background-color: rgba(236, 236, 236, 0.623);
    color: rgba(0, 56, 255, 0.47);
    
}

.prenom{
    border-radius: 3px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size-adjust: 0.5;
    text-align: center;
    background-position: center;
    background-color: rgba(236, 236, 236, 0.623);
    color: rgba(0, 56, 255, 0.47);
    
    
}
.telephone{

    border-radius: 3px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size-adjust: 0.5;
    text-align: center;
    background-position: center;
    background-color: rgba(236, 236, 236, 0.623);
    color: rgba(0, 56, 255, 0.47);
    
}
.mail{

    border-radius: 3px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size-adjust: 0.5;
    text-align: center;
    background-position: center;
    background-color: rgba(236, 236, 236, 0.623);
    color: rgba(0, 56, 255, 0.47);
    
}
.password{

    border-radius: 3px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size-adjust: 0.5;
    text-align: center;
    background-position: center;
    background-color: rgba(236, 236, 236, 0.623);
    color: rgba(0, 56, 255, 0.47);
    
}
.confirmepassword{
    border-radius: 3px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size-adjust: 0.5;
    text-align: center;
    background-position: center;
    background-color: rgba(236, 236, 236, 0.623);
    color: rgba(0, 56, 255, 0.47);
    
}

.title{
    color: rgba(0, 0, 255, 0.445);
    font-weight: bold;
    text-align: center;
}

.singin{
    color: white;
    text-align: center;
    height: 35px;
    margin-right: 11%;
    margin-left: 11%;
    margin-top: 5%;

    font-size-adjust: 0.5;
    text-align: center;
}

ion-toggle{
    margin-top: 5%;
    margin-left: 5%;
    --background: rgb(243, 241, 241);
    --background-checked: #48ff48;
    
    --handle-background: #ffffff;
    --handle-background-checked: #ffffff;
    
  }

.terme{
    margin-top: 8%;
    font-size: 11px;
    margin-left: 9%;

    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


