.logo{
    margin-top: 20%;
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
}

.message-activation{
    margin-top: 50%;
    margin-right: 11%;
    margin-left: 11%;
    text-align: center;
}

.connexion{
    margin-right: 11%;
    margin-left: 11%;
    text-align: center;
    margin-top: 30%;
    ion-button{ 
        height: 45px;
        font-size: 18px;
        margin-right: 11%;
        margin-left: 11%;
        font-size-adjust: 0.5;
        text-align: center;
        font-weight: bold;
        color: white;
    }
}
