
<ion-content>
  <div class="logo">
    <img src="assets/icon/Logo.png">
  </div>

  <div class="message-activation">
    <ion-text [innerHTML]="'confirmation.msg' | translate" ></ion-text >
  </div>

  <div class="connexion">
    <ion-button (click)="goToConnexion()">
      {{"confirmation.connexion"| translate}}
    </ion-button>
  </div>

</ion-content>
