<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start" style="color: blue;">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title class="title">{{"connexion.header" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- logo-->
  <div  class="connexionLogo">
    <img src="assets/icon/Logo.png">
  </div>

  <!-- Mail-->

  <div class="email">
   
      <ion-input [(ngModel)]="email" type="mail" placeholder="{{'connexion.email' | translate}}" required ></ion-input>
   
  </div>

  <!-- passwrd-->
  <div class="password">
   
      <ion-input  [(ngModel)]="password" type="password" placeholder="{{'connexion.password' | translate}}" password-toggle="true" required> </ion-input>
    
  </div>

  <div class="valider">
    <ion-button  (click)="login()" expand="block" >{{"connexion.header" | translate}}</ion-button>
  </div>

  <!-- Mot de passe oublier -->
  <div class="forgot">
    <ion-button slot="end" fill="clear">{{"connexion.forgot" | translate}}</ion-button>
  </div>


</ion-content>
