.email{
    text-align: center;
    ion-input{
        border-radius: 3px;
        margin-top: 5%;
        width: 255px;
        margin-left: 10%;
        margin-bottom: 5%;
        font-size-adjust: 0.5;
        text-align: center;
        background-color: rgba(228, 228, 228, 0.466);
        color: rgba(0, 56, 255, 0.47);
    }
}

.password{
    text-align: center;
    ion-input{
        border-radius: 3px;
        margin-top: 5%;
        width: 255px;
        margin-left: 10%;
        margin-bottom: 10%;
        font-size-adjust: 0.5;
        text-align: center;
        background-color: rgba(228, 228, 228, 0.466);
        color: rgba(0, 56, 255, 0.47);
    }

}

.lock-closed{
    margin-left: 3%;
    font-size-adjust: 0.5;
 
    background-color: rgb(228, 228, 228);

}

.valider{
    text-align: center;
    ion-button{
        height: 35px;
        margin-right: 11%;
        margin-left: 11%;
        font-size-adjust: 0.5;
        text-align: center;
    
       
    }


}

.forgot{
    text-align: center;

    on-button{
        text-align: center;
    }

}

.title{
    color: rgba(0, 0, 255, 0.445);
    text-align: center;
    margin-right: 20%;
    
}
.connexionLogo{
    margin-top: 5%;  
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 10%;
    font-size: 30px;
    text-align: center;
    align-items: center;
  
}