ion-content{
    --blackgroung:white;

}

 @-webkit-keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(2) rotateZ(180deg);transform:scale(2) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}@keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(2) rotateZ(180deg);transform:scale(2) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}


.logo{
    -webkit-animation:rotate-scale-up 1s linear both;animation:rotate-scale-up 1s linear both;
    img{
        height: 20;
        margin-top: 30%;
        text-align: center;
        margin-bottom: 10%;
       
    }
}

.citation{
    margin-top: 20%;
    font-size: 12px;
    font-size-adjust: 0.5;
    text-align: center;
    color: blue;
}