
<ion-content>
  <div class="citation">
      <p>
        {{"splash.msg" | translate}}
      </p>
  </div>

  <div   class="logo ion-text-center">
    <img src="assets/icon/Logo.png">
  </div>

</ion-content>
