.nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    //margin-right:18%;
    //margin-left: 2%;
    //margin-bottom: 5%;
    font-size: 30px;
    text-align: center;
    align-items: center;
    background-color: white;
}


.my_home{
    color: red;

}
.hhh{
    --color: green;
}


.profil_img{
    img::part(image){
        border-radius: 50%;   
    }
}
ion-header{
    align-items: center;
}