<ion-header>
  <ion-toolbar>
    <ion-title>acceuil</ion-title>
    <div class="profil_img">
      <img src="{{url_image}}" >
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer class="nav" >
  <div class="my_home">
    <ion-icon name="home"></ion-icon>
  </div>
  <div  class="my_home" >
    <ion-icon name="add-circle"></ion-icon>
  </div>
  <div  class="hhh">
    <ion-icon name="alarm" (click)="goToSetting()"></ion-icon>
  </div>
  <div  class="my_home">
    <ion-icon name="basketball"></ion-icon>
  </div>
</ion-footer>
